.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search:hover{
  transition: all 0.6s;
  transform: scale(1.01);
}


.search-form {
  width: 85vw;
  margin: 0 auto;
  max-width: 40rem;
  background: #F3C5C5;
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  /* box-shadow: 2px 5px 3px 0px hsl(0, 64%, 82%); */
}

.search-form:hover{
  box-shadow: 2px 5px 3px 0px hsl(0, 64%, 82%);
  transition: all 0.3s;
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  color: Black;
  font-size: 25px;
  text-align: center;
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: #f1f5f8;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}