.cocktail {
  background: white;
  margin-bottom: 2rem;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 0.25rem;
}
.cocktail:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.cocktail img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.cocktail-footer {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.cocktail-footer h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  margin: 1.5rem 0;
}
.cocktail-footer h3 {
  font-size: 2rem;
}
.cocktail-footer p {
  color: #F2D1D1;
  margin-bottom: 0.5rem;
}
.btn{
    width: 30%;
}